// @header-font-color: #34495e;
// @header-font-color: white;
@header-font-color: #bebebe;

// @heaer-bg-color: #2c3e50;
// @heaer-bg-color: black;
@heaer-bg-color: rgb(19, 19, 19, 0.8);


html, body{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	// font-family: 'Montserrat', sans-serif;
// font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	// font-family: 'Ubuntu', sans-serif;
	// color: #34485e;
}

header{
	background: @heaer-bg-color;
	height: 55px;
	width: 100%;
	text-transform: uppercase;
	border-bottom: 2px solid @heaer-bg-color;
	a{
		text-decoration: none;
		color: @header-font-color;
		transition: 0.2s;
	}
	ul a:hover{
		color: lighten(@header-font-color, 20%);
	}	
	
	div.header-wrapper{
		width: 75%;
		margin: auto;
		overflow: hidden;
		height: 100%;
		a.logo {
			height: 100%;
			float: left;
			margin-left:20px;

			display:-webkit-box;
			-webkit-box-pack:center;
			-webkit-box-align:center;
		}
		ul{
			font-size: 0.9em;
			float: right;
			margin-right: 20px;
			height: 100%;
			li{
				display: inline-block;
				height: 100%;
				margin-left: 20px;
				a{
					height: 100%;
					display:-webkit-box;
					-webkit-box-pack:center;
					-webkit-box-align:center;
				}
				div.arrow-up{
					// display: none;
					position: absolute;
					height: 0;
					width: 0;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-bottom: 5px solid @heaer-bg-color;
					margin-left: 12px;
					top: 50px;
				}
				div.arrow-up-fill{
					// display: none;

					position: absolute;
					height: 0;
					width: 0;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-bottom: 5px solid white;
					margin-left: 12px;
					top: 53px;
				}
				div.arrow-up-fill.home-arrow-fill{
					border-bottom: 5px solid #555;
				}

			}

		}
		
	}	

}


div.main{
	height: 70%;
	section{
		height: 100%;
		text-align: center;
		overflow: hidden;
		
		display:-webkit-box;
		-webkit-box-pack:center;
		-webkit-box-align:center;

	}

}
li.active a{
	color: lighten(@header-font-color, 20%);

}

footer{
	background: @heaer-bg-color;
	height: 80px;

}
