div.clearfloat{
	clear: both;
}
div.contact-info{
	width: 100%;
	text-align: center;
	line-height: 1.2em;
}
section.contact-wrap{
	height: 100%;
	width: 50%;
	text-align: center;
	margin: auto;
	display: block;
	padding-top: 20%;
	
}

section.intro-left{
	float: left;
	margin-left: 20px;
}
section.intro-left p{

}
section.intro-left p:before{
	content: "\2022";
	margin-right: 5px;
	font-size: 1.2em;
	vertical-align: middle;
	-webkit-animation: colorchange 5s infinite; /* Chrome, Safari, Opera */ 
	-moz-animation: colorchange 5s infinite; /* Chrome, Safari, Opera */ 
    animation: colorchange 5s infinite;
}


@-moz-keyframes colorchange{
	0% { color: #d35400; }
	25% {color: #f39c12;}
	50% {color: #27ae60;}
	75% {color: #2980b9;}
	100% {color: #8e44ad;}
}


@-webkit-keyframes colorchange{
	0% { color: #d35400; }
	25% {color: #f39c12;}
	50% {color: #27ae60;}
	75% {color: #2980b9;}
	100% {color: #8e44ad;}
}

keyframes colorchange{
	0% { color: #d35400; }
	25% {color: #f39c12;}
	50% {color: #27ae60;}
	75% {color: #2980b9;}
	100% {color: #8e44ad;}
}


section.intro-mid{
	/*float:left;*/
	/*color: #7f8c8d;*/
	color: #3CA6AE;

	text-align: left;
	float: left;
	margin-left: 40%;
	/*display: inline-block;*/
}

section.intro-right{
	/*float:right;*/
	color: gray;
	text-align: left;
	font-size: 0.95em;
	/*display: inline-block;*/
	float: right;

}

section.intro-right a{
	text-decoration: none;
	color: gray;

}
