.knot-gallery, .band-gallery{
	width: 75%;
	margin: auto;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 60px;

}

.knot-gallery-row, .band-gallery-row{
	width:100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.knot-gallery-row div{
	display: inline-block;
	width:45%;
	margin: 2%
}
.band-gallery-row div{
	display: inline-block;
	width: 29%;
	margin: 2%;
}
/*.knot-gallery-row div:first-of-type{
	margin-right:4%;
	
}*/
/*.knot-gallery-row div:nth-of-type(2){
	margin-left:3%;
	
}*/


img.knot-gallery-pic{
	width: 100%;
	box-shadow: 5px 5px;
	/*margin: 2%;*/
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.0\'/></filter></svg>#grayscale");

	-webkit-transition:0.3s;
	-moz-transition: 0.3s;
	transition:0.3s;
}
img.knot-gallery-pic:hover{
	-webkit-filter: none;
	filter:grayscale(0%);
	filter:none;

}

img.band-gallery-pic{
	width: 100%;
	box-shadow: 5px 5px;

	-webkit-filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.0\'/></filter></svg>#grayscale");


	filter: grayscale(100%);

	-webkit-transition:0.3s;
	-moz-transition:0.3s;
}
img.knot-gallery-pic.map-gallery-pic{
	width: 20%;

}
img.knot-gallery-pic.map-gallery-pic:first-of-type{
	width: 70%;
}

img.band-gallery-pic:hover{
	-webkit-filter: none;

	filter: none;

}

.back-to-work-button{
	margin-top:10px;
}

.back-to-work-button a{
	text-decoration: none;
	color: #888;
	text-align: center;
	display: block;
	margin: auto;
	font-size: 0.5em;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-style: italic;
	transition: 0.3s;
}
.back-to-work-button a:hover{
	color: black;
}

.KNOT-intro{
	text-align: center;
	color: black;

}

.KNOT-intro-wrap{
	padding: 20px 0 20px 0;
	width: 73%;
	margin:auto;
	display: block;
	height: 100%;
	line-height: normal;
	font-style: italic;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.KNOT-intro-wrap p{
	line-height: 1.5em;

	text-align: left;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;

}

.knot-gallery-title, .band-gallery-title{
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 1.5em;
}

.knot-gallery-title h1, .band-gallery-title h1{
	margin: auto;
	display: block;
	border-top: 1px solid;
	border-bottom: 1px solid;
	text-align: center;
	width: 11%;
	padding-top: 10px; 
	padding-bottom: 10px; 
}

.band-gallery-title h1, .map-gallery-title h1{
	width: 20%;
}

.gallery-col1{
	width: 50.5%;
	margin-right: 2%;
	display: inline-block;
}
.gallery-col2{
	width: 43%;
	margin-left: 2%;
	display: inline-block;
	vertical-align: top;
}

.map-gallery-row{
	width: 100%;
}
.map-gallery-pic{
	width: 100%;

}
.map-gallery-row1{
	margin-bottom: 40px;
	/*position: relative;*/

}
section.map-gallery-row1 p.map-gallery-text, section.map-gallery-row2 p.map-gallery-text, section.map-gallery-row p.map-gallery-text{
	/*position: absolute;*/
	/*width: 100%;*/
	height: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	transition: height 0.5s, opacity 0.5s, margin-top 0.5s;
	-webkit-transition: height 0.5s, opacity 0.5s, margin-top 0.5s;
	-moz-transition: height 0.5s, opacity 0.5s, margin-top 0.5s;


}
.map-gallery-row1 img:hover + p.map-gallery-text, .map-gallery-row img:hover + p.map-gallery-text, .map-gallery-row2 img:hover + p.map-gallery-text{
	opacity: 1;	
	height: 100px;
	margin-top:30px;
	
}


.map-gallery-row2 img.map-gallery-pic{
	width: 45%;
}
.map-gallery-row2 img.map-gallery-pic:first-of-type{
	margin-right: 9%;
}

div.knot-gallery.map-gallery{
	margin-bottom: 60px;
	margin-top: 60px;
}

img.map-gallery-pic{
	box-shadow: 5px 5px;

	-webkit-filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.0\'/></filter></svg>#grayscale");



	filter: grayscale(100%);
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
}
img.map-gallery-pic:hover{
	-webkit-filter: none;


	filter: none;
}

.map-gallery{
	margin-bottom: 60px;
}

p.map-gallery-text{
	text-align: center;
	font-size: 0.9em;
	padding: 20px 10px 20px 10px;
	line-height: 1.4em;
	margin-top:20px;
	/*margin-bottom:20px;*/
	/*border: 1px solid rgba(190,190,190,0.5);*/
	/*background: rgba(190,190,190,0.5);*/
	/*border-top: 1px solid rgba(190,190,190,0.9);*/
	/*border-bottom: 1px solid rgba(190,190,190,0.9);*/

}

p.knot-gallery-description{
	font-size: 0.9em;
	line-height: 1.4em;


	height: 0;
	opacity: 0;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	width: 80%;
	text-align: center;
	margin: auto;
}


section.knot-gallery-row:hover + p.knot-gallery-description{
	height: 90px;
	opacity: 1;

}

p.band-gallery-text{
	margin: auto;
	text-align: center;
	width: 90%;
	font-size: 0.9em;
	line-height: 1.4em;
	height: 0;
	opacity: 0;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;

}

section.band-gallery-row:hover + p.band-gallery-text{
	height: 100px;
	opacity: 1;

}



