.home-text{
	text-align: center;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	/*color: rgb(190,190,190);*/
	color:white;
}

.recent{
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	text-align: center;
	font-style: italic;

}

.recent a{
	text-decoration: none;
	color: rgb(120,120,120);
	transition: 0.5s;
	margin-left: 0px;
}

.recent a:hover{
	margin-left: 40px;
	-webkit-animation: colorchange 5s infinite; /* Chrome, Safari, Opera */ 
	animation: colorchange 5s infinite; /* Chrome, Safari, Opera */ 

}

.main-title{
	background: #555;
	padding-bottom: 100px;

}

@-webkit-keyframes colorchange{
	0% { color: #d35400; }
	25% {color: #f39c12;}
	50% {color: #27ae60;}
	75% {color: #2980b9;}
	100% {color: #8e44ad;}
}

keyframes colorchange{
	0% { color: #d35400; }
	25% {color: #f39c12;}
	50% {color: #27ae60;}
	75% {color: #2980b9;}
	100% {color: #8e44ad;}
}
