.svg-as-filter{
	display: none;
}
.clearfloat{
	clear:both;
}

a.btn{
	/*color: #2c3e50;*/
	/*color: #7f8c8d;*/
	/*border: 1.5px solid #34495e;*/
	/*color: #34495e;*/
	/*color: #181818;*/
	/*color: #ecf0f1;*/
	color: rgb(38,38,38);
	border: 1.5px solid rgb(190,190,190);
	border-radius: 5px;
	font-weight: 400;

	/*background: #2980b9;*/
	width: 70%;
	display: block;
	text-align: center;
	margin-bottom: 5px;
	text-decoration: none;
	padding: 0.4em;
	/*transition: color 0.4s, border 0.4s;*/
	background: rgb(190,190,190);
}

a.btn:hover{
	/*border: 1px solid #3d566e;*/
	/*color: white;*/

}

section.work-title1{
	height: 60px;
	text-align: center;
	background: #ecf0f1;

	color: black;
}


section.work-title1 div.year1-wrap{
	width: 60%;	
	margin: auto;
	display: block;
	height: 100%;

}


section.work-title1 div.year1-wrap p.year1{
	height: 100%;

	display:-moz-box;
	display:-webkit-box;


			
	-moz-box-pack:center;
	-moz-box-align:center;
	-webkit-box-pack:center;
	-webkit-box-align:center;


	font-style: italic;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}


div.work-present section.work1{
	position: relative;
	background: #ccc;
	/*color: #bebebe;*/

	transition: background 0.5s;
}

div.work-present section.work2{
	position: relative;
	/*color: #ccc;*/
	/*background: #666;*/
	background: #ccc;

	transition: background 0.5s;
	height: 508px;
	overflow: hidden;
	/*color: #bebebe;*/

}

section.work3{
	background: #555;
	transition: background 0.5s;
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	filter: none;
}




div.work-present section.work1:hover div.wrap-work img.KNOT-mycard{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	filter: none;
}



div.work-present section.work2:hover div.wrap-work img{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	filter: none;
}

div.work-present section div.wrap-work{
	height: 100%;
	width: 960px;
	margin: auto;
	display: block;
	padding-top: 60px;
	padding-bottom: 80px;

}

section.work2 div.wrap-work .mobile{
	margin-right: 80px;
}
div.work-present section.work2 div.wrap-work{
	padding-bottom: 10px;
}

section.work2 div.wrap-work .work2-intro{
	margin-left: 10px;

}

div.work3-browser img{
	cursor: pointer;
	transition: 0.5s;
}

div.work-present section.work1 div.wrap-work img.KNOT-mycard{
	

	cursor: pointer;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(#greyscale);
	filter: gray;
	transition: 0.5s;

}

div.work-present section.work2 div.wrap-work img{

	width: 250px;
	cursor: pointer;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(#greyscale1);
	filter: gray;
	transition: 0.5s;
	float: right;
}



div.work-present section.work1 div.wrap-work section.work1-intro{
	padding-top: 8%;
	width: 264px;
	height: 100%;
	float: right;
}

div.work-present section.work2 div.wrap-work section.work2-intro{
	padding-top: 8%;
	width: 300px;
	/*height: 508px;*/
	float: left;

}

div.work-present section div.wrap-work section p{
	line-height: 1.8em;
	margin-top: 5px;
	margin-bottom: 15px;
	/*color: #ecf0f1;*/
	color: rgb(190,190,190);

}

div.work-present section div.wrap-work section h2{
	line-height: 1.8em;
	font-size: 1.5em;
	/*color: rgb(38,38,38);*/
	color: white;
	text-transform: uppercase;
}

div.work-present section div.wrap-work section a.btn{
	line-height: normal;
}

.browser{
	float: left;
}

.browserbar{
	background-color: #383838;
	width: 100%;
	height: 20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.browserbtn{
    display: inline-block;
	color: #bebebe;

}
.browserbtn:first-of-type{
	margin-left: 10px;
}
.browserbtn:before {

    content: ' \25CF';
    font-size: 12px;
}

.mobile{
	/*position: absolute;*/
	/*right: -5%;*/
	/*top: 15%;	*/
	float: right;
	position: relative;
	color: black;
}
.mobilecontent{
	line-height: 0px;
}
.mobile .mobilecontent img{
	width: 165px;
	/*float: right;*/
	padding: 0px 10px 0px 10px;
	background-color: #383838;

}

.mobilecamera:before{
	content: ' \25CF';
    font-size: 18px;
}

.mobilecamera{
	/*margin:20px;*/
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	text-align: center;
	background-color: #383838;
	height: 30px;
}

.mobileearphone{
	content: ' ';
	display: block;
	background-color: #383838;
	width: 100%;
	height: 25px;
	/*margin: 10px;*/
	color:black;

	/*border: 10px solid ;*/
	/*overflow: hidden;*/
}

.mobilesensor:before{
	content: ' \25CF';
    font-size: 12px;
}
.mobileear{
	width:20%;
	height: 6px;
	display: block;
	background-color: black;
	position: absolute;
	left: 40%;
	top: 8%;
	border-radius: 3px;
}

.mobilesensor{
	position: absolute;
	left: 30%;
	top: 6.5%;
}

.mobilehomebuttonpart{

	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	background-color: #383838;
}

.mobilehomebutton:before{
	content: ' \25CF';
    font-size: 50px;


}
.mobilehomebutton{
	text-align: center;
}

.work3-intro{
	float: left;
}
.work3-browser{
	float: right;
}

.work3-intro{
	padding-top: 8%;
	width: 264px;
	height: 100%;
	float: left;
}
