{% extends "siteframework/base.html" %}

{% block title %}Home{% endblock %}

{% block extracss %}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'siteframework/css/home.css' %}" type="text/css">

{% endblock %}


{% block main %}
<div class="home-graph"></div>
<div class="home-text">
	<p>Write code. Have fun.</p>
</div>

{% endblock %}

{% block extrajs %}

{% load staticfiles %}

<script src="{% static 'siteframework/js/home.js'%}" type="text/javascript"></script>

{% endblock %}