{% extends "siteframework/base.html" %}

{% block title %}Home{% endblock %}

{% block extracss %}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'siteframework/css/home.css' %}" type="text/css">

{% endblock %}


{% block main %}
<div class="main-title">
	<div class="home-graph"></div>
	<div class="home-text">
		<p>Write code. Have fun.</p>
	</div>
	<div class="recent"><a href="{% url 'theeternal' %}" target="_blank">I recently made this! -></a></div>
</div>

<div class="self-intro">
	<div class="self-intro-wrap">
		<p>Hi. I am Tianyao Xu. </p>
	</div>
</div>



{% endblock %}

{% block extrajs %}

{% load staticfiles %}

<script src="{% static 'siteframework/js/home.js'%}" type="text/javascript"></script>

{% endblock %}