{% extends "siteframework/base.html" %}

{% block title %}Knot Gallery{% endblock %}

{% block extracss %}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'siteframework/css/knotgallery.css' %}" type="text/css">

{% endblock %}


{% block main %}

<div class="knot-gallery">
	<section class="knot-gallery-row">
		<img class="knot-gallery-pic" src="{% static 'siteframework/img/KNOT_login.png'%}" alt="KNOT_login.png">
		<img class="knot-gallery-pic" src="{% static 'siteframework/img/KNOT_timeline.png'%}" alt="KNOT_timeline.png">
	</section>
	<section class="knot-gallery-row"> 
		<img class="knot-gallery-pic" src="{% static 'siteframework/img/KNOT_notification.png'%}" alt="KNOT_login.png">
		<img class="knot-gallery-pic" src="{% static 'siteframework/img/KNOT_mycard.png'%}" alt="KNOT_timeline.png">
	</section>

</div>


<div class= "back-to-work-button">
	<a href="{% url 'work' %}"><- Back To Work Page</a>
</div>

{% endblock %}


{% block extrajs %}

{% load staticfiles %}

<!-- <script src="{% static 'siteframework/js/home.js'%}" type="text/javascript"></script> -->

{% endblock %}