{% extends "siteframework/base.html" %}

{% block title %}Router Finder Gallery{% endblock %}

{% block extracss %}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'siteframework/css/gallery.css' %}" type="text/css">

{% endblock %}


{% block nav %}
<ul>
	<li>
		<a href="{% url 'home' %}">home</a>

	</li>
	<li class="active">
		<a href="{% url 'work' %}">work</a>
		<div class="arrow-up"></div>
		<div class="arrow-up-fill"></div>
	</li>
	<li><a href="{% url 'contact' %}">contact</a></li>

</ul>
{% endblock %}

{% block main %}

<div class="knot-gallery-title map-gallery-title">
	<h1>Route Finder, 2014</h1>
		<div class= "back-to-work-button">
			<a href="{% url 'work' %}">Back To Work Page</a>
		</div>
</div>


<div class="knot-gallery map-gallery">
	<section class="gallery-col1">
		<section class="map-gallery-row1">
			<img class="map-gallery-pic" src="{% static 'siteframework/img/wayfinder.png'%}" alt="wayfinder.png">
		</section>
		
		<section class="map-gallery-row2">
			<img class="map-gallery-pic" src="{% static 'siteframework/img/wayfinder_mobile1.png'%}" alt="wayfinder_mobile1.png">
			<img class="map-gallery-pic" src="{% static 'siteframework/img/wayfinder_mobile2.png'%}" alt="wayfinder_mobile2.png">

		</section>
	</section>

	<section class="gallery-col2">

		<section class="map-gallery-row">
			<img class="map-gallery-pic" src="{% static 'siteframework/img/wayfinderintro.png'%}" alt="wayfinderintro.png">
		</section>


	</section>

<!-- 	<section class="knot-gallery-row"> 
		<img class="knot-gallery-pic" src="{% static 'siteframework/img/KNOT_mycard.png'%}" alt="KNOT_timeline.png">
		<img class="knot-gallery-pic" src="{% static 'siteframework/img/KNOT_timeline.png'%}" alt="KNOT_timeline.png">

	</section> -->

</div>






{% endblock %}


{% block extrajs %}

{% load staticfiles %}

<!-- <script src="{% static 'siteframework/js/home.js'%}" type="text/javascript"></script> -->

{% endblock %}