{% extends "siteframework/base.html" %}

{% block title %}Work{% endblock %}

{% block extracss %}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'siteframework/css/work.css' %}" type="text/css">

{% endblock %}

{% block nav %}
<ul>
	<li>
		<a href="{% url 'home' %}">home</a>

	</li>
	<li class="active">
		<a href="{% url 'work' %}">work</a>
		<div class="arrow-up"></div>
		<div class="arrow-up-fill"></div>
	</li>
	<li><a href="{% url 'contact' %}">contact</a></li>

</ul>
{% endblock %}

{% block main %}

<div class="work-present">
	<!-- <section><img src="../../static/siteframework/img/KNOT_timeline.png" alt="KNOT Present Pic"></section> -->
	{% load staticfiles %}
	<section class="work-title1">
		<div class="year1-wrap">
			<p class="year1">2014: Django, python, SQL, Google Maps API, javascript, HTML5, CSS3</p>
			<!-- <p></p> -->
		</div>
	</section>
	<section class="work3">
		<div class="wrap-work">
			<section class="work3-intro">
				<h2 class="work3-title">CMU Route Finder</h2>
				<p>A web application that helps students find their way in the complex buildings in CMU.</p>
				<!-- <a class="btn" href="#">Demo intro page</a> -->
				<a class="btn" href="{% url 'mapgallery' %}">Gallery</a>

			</section>



			<div class="work3-browser">
				<div class="browserbar">
					<div class="browserbtn"></div>
					<div class="browserbtn"></div>
					<div class="browserbtn"></div>
				</div>
				<img class="" src="{% static 'siteframework/img/wayfinder.png' %}" alt="Wayfinder Present Pic" onclick="location.href='{% url 'mapgallery' %}'">

				<svg class="svg-as-filter" version="1.1" xmlns="http://www.w3.org/2000/svg">
					<filter id="greyscale1">
						<feColorMatrix type="matrix" values="0.3333 0.3333 0.3333 0 0
															0.3333 0.3333 0.3333 0 0
															0.3333 0.3333 0.3333 0 0
															0 0 0 1 0" />
					</filter>
				</svg>
			</div>

			<div class="clearfloat"></div>
		</div>
	</section>



	<section class="work-title1">
		<div class="year1-wrap">
			<p class="year1">2012-2013: Django, python, node.js, SQL, MongoDB, PhoneGap, javascript, HTML5, CSS3</p>
			<!-- <p></p> -->
		</div>
	</section>
	<section class="work1">
		<div class="wrap-work">
			<!-- <img src="{% static 'siteframework/img/img_trans.gif' %}" alt="KNOT Present Pic"> -->
			<!-- <img src="{% static 'siteframework/img/KNOT_browser_green_600_white.png' %}" alt="KNOT Present Pic"> -->
			<!-- <img src="{% static 'siteframework/img/line_browser_blue.png' %}" alt="line browser" onclick="location.href='{% url 'knotgallery' %}'"> -->
			<div class="browser">
				<div class="browserbar">
					<div class="browserbtn"></div>
					<div class="browserbtn"></div>
					<div class="browserbtn"></div>
				</div>
				<img class="KNOT-mycard" src="{% static 'siteframework/img/KNOT_mycard_mid.png' %}" alt="KNOT Present Pic" onclick="location.href='{% url 'knotgallery' %}'">

				<svg class="svg-as-filter" version="1.1" xmlns="http://www.w3.org/2000/svg">
					<filter id="greyscale1">
						<feColorMatrix type="matrix" values="0.3333 0.3333 0.3333 0 0
															0.3333 0.3333 0.3333 0 0
															0.3333 0.3333 0.3333 0 0
															0 0 0 1 0" />
					</filter>
				</svg>
			</div>

			<section class="work1-intro">
				<h2 class="work1-title">KNOT</h2>
				<p>Digital business card social network. Manage your friends' contact information. Keep updated and keep in touch. </p>
				<a class="btn" href="https://github.com/tianyaox/KNOT" target="_blank">Check out on Github</a>
				<a class="btn" href="{% url 'knotgallery' %}">Gallery</a>
			</section>
			<!-- <div class="work1-intro">Digital business card social network</div> -->
			<div class="clearfloat"></div>
		</div>
	</section>

	<section class="work2">
		<div class="wrap-work">
			<!-- <img src="{% static 'siteframework/img/img_trans.gif' %}" alt="KNOT Present Pic"> -->
			<!-- <img src="{% static 'siteframework/img/line-iphone.png' %}" alt="line-iphone" onclick="location.href='{% url 'bandgallery' %}'"> -->
			<!-- <img src="{% static 'siteframework/img/KNOT_mycard.png' %}" alt="KNOT Present Pic"> -->
			
			<div class="mobile">
				<div class="mobilecamera"></div>
				<div class="mobileearphone">
					<div class="mobilesensor"></div>
					<div class="mobileear"></div>
					
				</div>
				<div class="mobilecontent">
					<img class="drum-page" src="{% static 'siteframework/img/drum.png' %}" alt="Drum page" onclick="location.href='{% url 'bandgallery' %}'">
					<svg class="svg-as-filter" version="1.1" xmlns="http://www.w3.org/2000/svg">
						<filter id="greyscale2">
							<feColorMatrix type="matrix" values="0.3333 0.3333 0.3333 0 0
																0.3333 0.3333 0.3333 0 0
																0.3333 0.3333 0.3333 0 0
																0 0 0 1 0" />
						</filter>
					</svg>
				</div>
				<div class="mobilehomebuttonpart">
					<div class="mobilehomebutton"></div>
				</div>
				
				
			</div>



			<section class="work2-intro">
				<h2 class="work2-title">Band Online</h2>
				<p>Mobile co-op music app. Jam with your friends on your Android/iOS/browser -- it's cross-platform! </p>
				<a class="btn" href="https://github.com/tianyaox/bandonline-archive" target="_blank">Check out on Github</a>
				<a class="btn" href="{% url 'bandgallery' %}">Gallery</a>
			</section>
			<!-- <div class="work1-intro">Digital business card social network</div> -->
			<div class="clearfloat"></div>
		</div>
	</section>
</div>

{% endblock %}


{% block extrajs %}

{% load staticfiles %}

<script src="{% static 'siteframework/js/work.js' %}" type="text/javascript"></script>

{% endblock %}